<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= [current_page.data.title, config[:site_name]].compact.join(' | ') %></title>

    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
  </head>

  <body class="w-100 sans-serif near-black bg-white <%= page_classes %>">

    <main class="cf w-100 mw9 ph3 ph5-ns pv4 pv5-ns">
      <header class="fl-l w-third-l pr4-l">
        <h1 class="f2 lh-title fw9 mt0 mb3 pt3 bt bw2 b--near-black" style="border-width: 0.25rem;">
          <%= config[:site_name] %>
          <small class="f6 fw3 mh1">v0.0.1.beta1</small>
        </h1>
        <p class="mw6 f3 lh-title fw6 mid-gray">Combines <a href="https://middlemanapp.com" class="link hot-pink hover-blue">Middleman</a>, <a href="http://brunch.io/" class="link hot-pink hover-blue">Brunch</a> and <a href="http://tachyons.io/" class="link hot-pink hover-blue">Tachyons</a> in a simple boilerplate framework to help kick off front-end web projects.</p>
        <p class="f6 fw3">Created by <a href="http://www.pushcode.com" class="link hot-pink hover-blue">Push Code</a>.</p>
      </header>
      <div class="fl-l w-two-thirds-l pl4-l">
        <div class="f5 lh-copy">
          <%= yield %>
        </div>
      </div>
    </main>
    
  </body>
</html>
